.customAntTable {
  padding: 8px 16px 16px 16px;
  // background-color: white;
  border: 1px solid rgb(213, 228, 235, 0.3);
  border-radius: 7px;

  .ant-table-title {
    border-bottom: 1px solid rgb(213, 228, 235, 0.3);
    // background: linear-gradient(0deg, #97b8c9 -110%, white 50%);
  }

  .ant-table-container {
    // padding-top: 16px;
    overflow: auto;

    .SN {
      width: 45px;
    }

    tbody {
      .tekSatir {
        background: rgb(213, 228, 235, 0.3);
      }

      .seciliSatir {
        background: cornflowerblue !important;
      }

      .kalın {
        font-size: 20px;
        font-weight: bolder;
      }

      .kısalt {
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .kısalt:hover {
        white-space: normal;
        background-color: #b8cfc3;
        position: absolute;
        z-index: 1;
        min-width: 100px;
        min-height: 55px;
        max-width: 60%;
        // margin: 16px;
      }
    }
  }
}

.tableMenu {
  width: 300px;
}

.tableMenuItem:hover {
  // transform: scale(1.1);
  font-size: 18px;
}

.menuIcon {
  width: 20px;
}

.menuIcon:hover {
  transform: scale(1.3);
}

.tabloBaslik {
  justify-content: space-between;

  .baslikMetni {
    font-size: 16px;
    font-weight: bold;
  }

}

.popupGorunum {
  width: 200px;
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -5px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}